{% extends("base.html.twig") %}

{% block content%}
	<div class="row">

		<div class="col-md-8 col-md-offset-2 shadow-lg p-3 mb-5 bg-white rounded">

			<h1>Nowy post</h1>

			{{ form_start(form) }}
			<div class="form-group">
				{{ form_row(form.title) }}
			</div>
			<div class="form-group">
				{{ form_row(form.description) }}
			</div>
			<div class="form-group">
				<div class="custom-file">
					{{ form_row(form.image_path) }}
				</div>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary">
					Stwórz nowy post
				</button>
				<button class="btn btn-default">
					Anuluj
				</button>
			</div>
			{{ form_end(form) }}
		</div>

	</div>

	<script>
		$('#file').on('change', function () { // get the file name
var fileName = $(this).val();
// replace the "Choose a file" label
$(this).next('.custom-file-label').html(fileName);
})
	</script>
{% endblock %}
