{% extends("base.html.twig") %}

{% block content%}
	<div>

		<div class="container   mt-2">
			<div class="row d-flex justify-content-center">
				<div
					class='col-8 shadow-lg p-3 mb-5 bg-white rounded'>
					<!-- Post content-->
					<article>
						<!-- Post header-->
						<header
							class="mb-4">
							<!-- Post title-->
							<h1 class="fw-bolder mb-1 ">{{post.title}}</h1>
							<!-- Post meta content-->
							<div class="text-muted fst-italic mb-2">Dodano
								{{ post.createdAt | date("d/m/Y") }}
								przez
								{{post.user.name}}
								{{post.user.surname}}
							</div>
							<!-- Post categories-->

						</header>
						{# @if (Auth::user()->id==$post->user_id )
																		                    <form action="{{ route('dashboard.destroy',$post->id) }}" method="POST">
																		                        @csrf
																		                        @method('DELETE')
																		                        <button type="submit" class="btn btn-link">Usuń post</button>
																		                    </form>
																		                    @endif #}


						<!-- Preview image figure-->
						<figure class="mb-4"><img class="img-fluid rounded" src="{{post.image_path }}" alt="..."/></figure>
						<!-- Post content-->
						<section class="mb-5">
							{{post.description}}
						</section>
					</article>
					<div class="row ml-1">
						<div >
							<a class="btn btn-primary" href="/posts/index/">Powrót</a>
						</div>
						{% if (app.user==post.user) %}

							<div class="ml-1">
								<a href="/posts/delete/{{post.id }}" class="btn btn-danger">
									Usuń post
								</a>
							</div>
						{% endif %}

					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
