{% extends("base.html.twig") %}


{% block content%}



<div class="card mb-3 mt-3 shadow-lg p-3 mb-5 bg-white rounded" >
 <h3 class="mb-0">Zmiana hasła</h3>
    <div class="row g-0 ">
        <div class="col-md-6">
            <div class="card-body">
                {# <form action="{{ route('changePassword') }}" method="post" enctype="multipart/form-data"> #}
                {{ form_start(form) }}
                    <div class="form-group">
                  {{ form_row(form.password) }}  
                        {# <label for="password">Stare hasło</label>
                        <input
                            type="password"
                            class="form-control @error('current_password') is-invalid @enderror"
                            id="password"
                            name="current_password"
                            />
                        @error('current_password')
                            <div class="invalid-feedback d-block">{{ $message }}</div>
                        @enderror #}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.plainPassword.first) }}  
                        {# <label for="password">Nowe hasło</label>
                        <input
                            type="password"
                            class="form-control @error('new_password') is-invalid @enderror"
                            id="new_password"
                            name="new_password"
                           />
                        @error('new_password')
                            <div class="invalid-feedback d-block">{{ $message }}</div>
                        @enderror #}
                    </div>

                    <div class="form-group">
                     {{ form_row(form.plainPassword.second) }}  
                        {# <label for="password">Powtórz nowe hasło</label>
                        <input
                            type="password"
                            class="form-control @error('new_confrim_password') is-invalid @enderror"
                            id="new_confrim_password"
                            name="new_confrim_password"
                            />
                        @error('new_confrim_password')
                            <div class="invalid-feedback d-block">{{ $message }}</div>
                        @enderror #}
                    </div>
                    <button type="submit" class="btn btn-primary">Zapisz dane</button>
                     {{ form_end(form) }}
                {# </form> #}
            </div>
        </div>
    </div>
</div>
{% endblock %}
