{% extends("base.html.twig") %}

{% block content%}


        <div class="row">
            <div class="col-lg-12 ">
                <div class="float-left ">
                    <h2>Oceny</h2>
                    <h5>
                        Klasa: {{activity.className.name}}
                        Przedmiot: {{activity.subject.name}} 

                    </h5>
                </div>
                <div class="float-right row mr-2 mt-4">
                    <!-- Wyszukiwarka użytkowników -->
                     {# <form class="form-inline" action="{{ path('teacher_grades', 'route_parameters = ['XD'=>xd]', relative = false) }}"> #}
                      {{ form_start(formFilter) }} 
                        <div class="form-row "> 
                            <div class="col-auto">
                                {# <select class='custom-select mr-sm-2' name="type" id="type"> #}
                                    {# @foreach ($activities as $activitie)
                                        <option value="{{$activitie->id}}"> Klasa: {{$activitie->class_name->name}} -- Przedmiot: {{$activitie->subject->name}}</option>
                                    @endforeach #}
                                {# </select> #}
                                {{ form_row(formFilter.id) }}
                            </div>
                            <div class="col-auto">
                            <button class="btn btn-primary mb-3" type="sumbit">Wyszukaj</button>
                            </div>
                        </div>
                    {# </form>  #} {{ form_end(formFilter) }} 

                        <div class="form-row ml-2">
                            <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#exampleModal">
                                Wystawianie ocen
                            </button>
                        </div>
                </div>
            </div>
        </div>

        {# {% if (errors->any())
            <div class="alert alert-danger mt-3">
                <ul>
                    @foreach ($errors->all() as $error)
                        <li>{{ $error }}</li>
                    @endforeach
                </ul>
            </div>
        {% endif %} #}



         <table class="table table-bordered shadow-lg p-3 mb-5 bg-white rounded">
            <tr>
                <th>Nr</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Oceny</th>
                <th>Średnia ocen</th>
                <th>Przewidywana ocena roczna</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>
                     {% for obj in user.grades %}

                         {% if (obj.ClassNameSubject.id==activity.id) %} 
                            <span data-html="true"
                            data-toggle="tooltip"
                            data-placement="top"
                            data-toggle="modal"
                            title="Waga: {{ obj.weight }} | Komentarz: {{ obj.comment }} | Semestr: {{ obj.semestr }} ">
                                <a
                                type="button"
                                data-toggle="modal"
                                data-target="#editGradeModal-{{obj.id}}"> 
                                {{obj.grade|replace({'.5': "+",'1.75': "2-",'2.75': "3-",'3.75': "4-",'4.75': "5-",'5.75': "6-",})}} 
                                {% if (loop.last!=true) %}                              
                                    ,
                                {% endif %} 
                                 </a> 
                            </span>
                         {% endif %} 
                    {% endfor %} 

                </td>
                <td>
                        {{ userAvgGrade[loop.index0].avg|round(2, 'ceil') }}  
                </td>
                <td>                   
                   {% if (userAvgGrade[loop.index0].avg ==null) %}
                        Brak ocen                   
                   {% elseif (userAvgGrade[loop.index0].avg<1.75) %}
                        Niedostateczny                   
                   {% elseif (userAvgGrade[loop.index0].avg<2.75) %}
                        Dopuszczający                    
                    {% elseif (userAvgGrade[loop.index0].avg<3.75) %}
                        Dostateczny                    
                    {% elseif (userAvgGrade[loop.index0].avg<4.75) %}
                        Dobry                     
                    {% elseif (userAvgGrade[loop.index0].avg<5.75) %}
                        Bardzo dobry                   
                   {% else %}
                        Celujący                  
                    {% endif %}                       
                 </td> 

            </tr>
            {% endfor %}
        </table> 
        <div class="d-flex justify-content-center">
       {{ knp_pagination_render(users) }} 
        </div>

        {# {{-- Modal oraz skrypty --}} #}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Wystawianie ocen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        {# <form action="{{ route('teacherPanel.grades.store') }}" method="POST"> #}
                         {{ form_start(form) }}  
                        <div class="form-group">
                            <div class="form-group">
                            {{ form_row(form.class_name_subject) }}
                                {# <strong>Zajęcia:</strong>
                                <select type="text" name="activity" id="activity" class="form-control">
                                    <option  selected value="0"> -- Wybierz zajęcia --</option>
                                    @foreach ($activities as $activitie)
                                        <option value="{{$activitie->id}}"> Klasa: {{$activitie->class_name->name}} -- Przedmiot: {{$activitie->subject->name}}</option>
                                    @endforeach
                                </select> #}
                            </div>
                            {{ form_row(form.user) }}
                                {# <strong>Użytkownicy:</strong>
                                <select disabled class="form-control" id="user" name="user" ></select> #}
                            </div>

                            <div class="form-group">
                              {{ form_row(form.grade) }}
                                {# <strong>Ocena:</strong>
                                <select type="text" name="grade" id="grade" class="form-control">
                                    <option value="1">1</option>
                                    <option value="1.5">1+</option>
                                    <option value="1.75">2-</option>
                                    <option value="2">2</option>
                                    <option value="2.5">2+</option>
                                    <option value="2.75">3-</option>
                                    <option value="3">3</option>
                                    <option value="3.5">3+</option>
                                    <option value="3.75">4-</option>
                                    <option value="4">4</option>
                                    <option value="4.5">4+</option>
                                    <option value="4.75">5-</option>
                                    <option value="5">5</option>
                                    <option value="5.5">5+</option>
                                    <option value="5.75">6-</option>
                                    <option value="6">6</option>
                            </select> #}
                            </div>
                            <div class="form-group">
                              {{ form_row(form.weight) }}
                                {# <strong>Waga:</strong>
                                <select type="text" name="weight" id="weight" class="form-control">
                                        <option value="1">1</option>
                                        <option value="1.5">1.5</option>
                                        <option value="1.75">1.75</option>
                                        <option value="2">2</option>
                                        <option value="2.5">2.5</option>
                                        <option value="2.75">2.75</option>
                                        <option value="3">3</option>
                                        <option value="3.5">3.5</option>
                                        <option value="3.75">3.75</option>
                                        <option value="4">4</option>
                                        <option value="4.5">4.5</option>
                                        <option value="4.75">4.75</option>
                                        <option value="5">5</option>
                                        <option value="5.5">5.5</option>
                                        <option value="5.75">5.75</option>
                                        <option value="6">6</option>
                                </select> #}
                            </div>
                            <div class="form-group">
                              {{ form_row(form.semestr) }}
                                {# <strong>Semestr:</strong>
                                <select type="text" name="semestr" id="semestr" class="form-control">
                                    <option value="1">1 semestr</option>
                                    <option value="2">2 semestr</option>
                            </select> #}
                            </div>
                            <div class="form-group">
                              {{ form_row(form.comment) }}
                                {# <strong>Komentarz:</strong>
                                <input type="text" name="comment" id="comment" class="form-control"> #}
                            </div>

                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-primary">Dodaj nową ocenę</button>
                             {{ form_end(form) }}  
                        {# </form> #}
                    </div>
                </div>
        </div>
    </div>
</div>

 {# {{-- Modal edit grade --}} #}
{% for user in users %}
    {% for obj in user.grades %}
        {% if (obj.ClassNameSubject.id==activity.id) %} 
            <div class="modal fade" id="editGradeModal-{{obj.id}}" tabindex="-1" role="dialog" aria-labelledby="editGradeModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editGradeModal">Edycja oceny</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-body">
                                      <form action="{{ path('teacher_grades_update', { 'gradeId' : obj.id }) }}" method="POST">                                                                     
                                            <p>Imię: {{user.name}}</p>
                                            <p>Nazwisko: {{user.surname}}</p>
                                             <p>Data dodania: {{ obj.createdAt | date("d/m/Y H:i") }}</p>                                   
                                            <p>Ostatnio modyfikowana: {{ obj.updatedAt | date("d/m/Y H:i") }}</p> 
                                        <div class="form-group">
                                            <strong>Ocena:</strong>
                                             <select type="text" name="grade" id="grade" class="form-control">
                                                <option {% if (obj.grade =='1') %} selected {% endif %} value="1">1</option>
                                                <option {% if (obj.grade =='1.5') %}selected {% endif %} value="1.5">1+</option>
                                                <option {% if (obj.grade =='1.75')%} selected {% endif %} value="1.75">2-</option>
                                                <option {% if (obj.grade =='2') %}selected {% endif %} value="2">2</option>
                                                <option {% if (obj.grade =='2.5')%} selected {% endif %} value="2.5">2+</option>
                                                <option {% if (obj.grade =='2.75') %}selected {% endif %} value="2.75">3-</option>
                                                <option {% if (obj.grade =='3')%} selected {% endif %} value="3">3</option>
                                                <option {% if (obj.grade =='3.5')%} selected {% endif %} value="3.5">3+</option>
                                                <option {% if (obj.grade =='3.75') %}selected {% endif %} value="3.75">4-</option>
                                                <option {% if (obj.grade =='4')%} selected {% endif %} value="4">4</option>
                                                <option {% if (obj.grade =='4.5')%} selected {% endif %} value="4.5">4+</option>
                                                <option {% if (obj.grade =='4.75')%} selected {% endif %} value="4.75">5-</option>
                                                <option {% if (obj.grade =='5')%} selected {% endif %} value="5">5</option>
                                                <option {% if (obj.grade =='5.5') %}selected {% endif %} value="5.5">5+</option>
                                                <option {% if (obj.grade =='5.75')%} selected {% endif %} value="5.75">6-</option>
                                                <option {% if (obj.grade =='6')%} selected {% endif %} value="6">6</option>
                                                {# {{-- value="{{ old('name', $obj.grade) }}"> --}} #}
                                        </select> 
                                        </div>
                                        <div class="form-group">
                                            <strong>Waga:</strong>
                                             <select type="text" name="weight" id="weight" class="form-control">
                                                <option {% if (obj.weight =='1') %}selected {% endif %} value="1">1</option>
                                                <option {% if (obj.weight =='1.5') %}selected {% endif %} value="1.5">1.5</option>
                                                <option {% if (obj.weight =='1.75') %} selected {% endif %} value="1.75">1.75</option>
                                                <option {% if (obj.weight =='2') %} selected {% endif %} value="2">2</option>
                                                <option {% if (obj.weight =='2.5') %} selected {% endif %} value="2.5">2.5</option>
                                                <option {% if (obj.weight =='2.75') %} selected {% endif %} value="2.75">2.75</option>
                                                <option {% if (obj.weight =='3') %} selected {% endif %} value="3">3</option>
                                                <option {% if (obj.weight =='3.5') %} selected {% endif %} value="3.5">3.5</option>
                                                <option {% if (obj.weight =='3.75') %} selected {% endif %} value="3.75">3.75</option>
                                                <option {% if (obj.weight =='4') %} selected {% endif %} value="4">4</option>
                                                <option {% if (obj.weight =='4.5') %} selected {% endif %} value="4.5">4.5</option>
                                                <option {% if (obj.weight =='4.75') %} selected {% endif %} value="4.75">4.75</option>
                                                <option {% if (obj.weight =='5') %} selected {% endif %} value="5">5</option>
                                                <option {% if (obj.weight =='5.5') %} selected {% endif %} value="5.5">5.5</option>
                                                <option {% if (obj.weight =='5.75') %} selected {% endif %} value="5.75">5.75</option>
                                                <option {% if (obj.weight =='6') %} selected {% endif %} value="6">6</option>
                                            </select> 
                                        </div>
                                        <div class="form-group">
                                            <strong>Semestr:</strong>
                                             <select type="text" name="semestr" id="semestr" class="form-control">
                                                <option {% if (obj.semestr =='1') %} selected {% endif %} value="1">1 semestr</option>
                                                <option {% if (obj.semestr =='2') %} selected {% endif %} value="2">2 semestr</option>
                                            </select> 
                                        </div>
                                        <div class="form-group">
                                            <strong>Komentarz:</strong>
                                              <input type="text" name="comment" id="comment" class="form-control" required
                                                value="{{obj.comment }}"/> 
                                        </div>
                                </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                        <button type="submit" class="btn btn-primary">Aktualizuj</button>
                                        <input type="hidden" name="referer" 
	                                        value="{{app.request.headers.get('referer')}}"/>
                                    </form> 
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}

<!-- Skrypt wczytywania studentów-->
<script>
    $(document).ready(function() {
        $('#add_grades_form_user').empty();
        document.getElementById('add_grades_form_user').disabled = true;
        

        
        $('#add_grades_form_class_name_subject').on('change', function() {
            document.getElementById('add_grades_form_user').disabled = false;
            var activity_id = $(this).val();
            if(activity_id!=0) {      
                // console.log(activity_id);  
                $.ajax({
                    url: '/changeStudentList/'+activity_id,
                    type: "GET",                  
                    dataType: "json",
                    success:function(data) {                   
                            if(data){
                                $('#add_grades_form_user').empty();
                                $('#add_grades_form_user').focus;
                                $.each(data, function(key, value){
                                $('select[name="add_grades_form[user]"]').append('<option value="'+ value.id +'">' + value.name +' '+ value.surname+'</option>');
                            });
                        }
                        else{
                            alert('fail')
                        
                        }
                    }
                });
            }
            else{
            document.getElementById('user').disabled = true;
            }
        });

                const e = new Event("change");
        const element = document.querySelector('#add_grades_form_class_name_subject')
        element.dispatchEvent(e);
    });

    {# $(function () {
    $('[data-toggle="tooltip"]').tooltip()
        }) #}
</script> 
{% endblock %}